@font-face {
  font-family: "Young Serif";
  font-weight: 400;
  src: url("/assets/fonts/young-serif/YoungSerif-Regular.ttf");
}

@font-face {
  font-family: "Outfit";
  font-weight: 400;
  src: url("/assets/fonts/outfit/static/Outfit-Regular.ttf");
}

@font-face {
  font-family: "Outfit";
  font-weight: 600;
  src: url("/assets/fonts/outfit/static/Outfit-SemiBold.ttf");
}

@font-face {
  font-family: "Outfit";
  font-weight: 700;
  src: url("/assets/fonts/outfit/static/Outfit-Bold.ttf");
}

:root {
  color: var(--color-stone-600);
  font: 1rem / 1.5 "Outfit", sans-serif;
  
  --color-stone-100: hsl(30, 54%, 90%);
  --color-stone-150: hsl(30, 18%, 87%);
  --color-stone-600: hsl(30, 10%, 34%);
  --color-stone-900: hsl(24, 5%, 18%);
  --color-brown-800: hsl(14, 45%, 36%);
  --color-rose-800: hsl(332, 51%, 32%);
  --color-rose-50: hsl(330, 100%, 98%);
  --color-highlight: var(--color-brown-800);
  --radius-medium: 12px;
  --radius-large: 24px;
}


body {
  margin: unset;
}

h1 {
  color: var(--color-stone-900);
  font-size: 2.5rem;

  @media (max-width: 560px) {
    font-size: 2.25rem;
  }
}

h2 {
  color: var(--color-highlight);
  font-size: 1.75rem;
}

h1, h2 {
  font-family: "Young Serif";
  font-weight: unset;
  line-height: 1;
  margin: unset;
  margin-bottom: 1.5rem;
}

hr {
  background: var(--color-stone-150);
  border: unset;
  height: 1px;
  margin-block: 2rem;
}

ol, ul {
  & {
    margin: unset;
    padding: unset;
    padding-left: 1.5rem;
  }

  > li {
    & {
      padding-left: 1rem;
    }

    &::marker {
      color: var(--color-highlight);
      font-weight: 700;
    }
    
    &:not(:first-of-type) {
      margin-top: .5rem;
    }
  }
}

th, td {
  font-weight: unset;
  padding: unset;
}

p {
  margin: unset;
}
